footer {
    position:absolute;
    bottom: 0;
    height: 60px;
    color: white;
    width: 1125px;
   
}

.text-muted {
    text-align: center;
    padding: 15px;
}

.row, 
form {
    padding: 25px;
}

img { 
    width: 200px;
    width: 200px;
}